@charset "UTF-8";
body{
    background-color: #c5ebd6;
}
header{
    height: 200px;
    max-width: none;
    background-image: linear-gradient(to bottom, #3CD983, #1A5C38);
}
header > h1{
    text-align: center;
    color: rgba(255, 247, 247, 0.719);
    font-family: Arial, Helvetica, sans-serif;
}
header > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}